@font-face {
  font-family: 'feather';
  src:  url('fonts/feather.eot?4t37f4');
  src:  url('fonts/feather.eot?4t37f4#iefix') format('embedded-opentype'),
    url('fonts/feather.ttf?4t37f4') format('truetype'),
    url('fonts/feather.woff?4t37f4') format('woff'),
    url('fonts/feather.svg?4t37f4#feather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ficon-"], [class*=" ficon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ficon-activity:before {
  content: "\e900";
}
.ficon-airplay:before {
  content: "\e901";
}
.ficon-alert-circle:before {
  content: "\e902";
}
.ficon-alert-octagon:before {
  content: "\e903";
}
.ficon-alert-triangle:before {
  content: "\e904";
}
.ficon-align-center:before {
  content: "\e905";
}
.ficon-align-justify:before {
  content: "\e906";
}
.ficon-align-left:before {
  content: "\e907";
}
.ficon-align-right:before {
  content: "\e908";
}
.ficon-anchor:before {
  content: "\e909";
}
.ficon-aperture:before {
  content: "\e90a";
}
.ficon-archive:before {
  content: "\e90b";
}
.ficon-arrow-down-circle:before {
  content: "\e90c";
}
.ficon-arrow-down-left:before {
  content: "\e90d";
}
.ficon-arrow-down-right:before {
  content: "\e90e";
}
.ficon-arrow-down:before {
  content: "\e90f";
}
.ficon-arrow-left-circle:before {
  content: "\e910";
}
.ficon-arrow-left:before {
  content: "\e911";
}
.ficon-arrow-right-circle:before {
  content: "\e912";
}
.ficon-arrow-right:before {
  content: "\e913";
}
.ficon-arrow-up-circle:before {
  content: "\e914";
}
.ficon-arrow-up-left:before {
  content: "\e915";
}
.ficon-arrow-up-right:before {
  content: "\e916";
}
.ficon-arrow-up:before {
  content: "\e917";
}
.ficon-at-sign:before {
  content: "\e918";
}
.ficon-award:before {
  content: "\e919";
}
.ficon-bar-chart-2:before {
  content: "\e91a";
}
.ficon-bar-chart:before {
  content: "\e91b";
}
.ficon-battery-charging:before {
  content: "\e91c";
}
.ficon-battery:before {
  content: "\e91d";
}
.ficon-bell-off:before {
  content: "\e91e";
}
.ficon-bell:before {
  content: "\e91f";
}
.ficon-bluetooth:before {
  content: "\e920";
}
.ficon-bold:before {
  content: "\e921";
}
.ficon-book-open:before {
  content: "\e922";
}
.ficon-book:before {
  content: "\e923";
}
.ficon-bookmark:before {
  content: "\e924";
}
.ficon-box:before {
  content: "\e925";
}
.ficon-briefcase:before {
  content: "\e926";
}
.ficon-calendar:before {
  content: "\e927";
}
.ficon-camera-off:before {
  content: "\e928";
}
.ficon-camera:before {
  content: "\e929";
}
.ficon-cast:before {
  content: "\e92a";
}
.ficon-check-circle:before {
  content: "\e92b";
}
.ficon-check-square:before {
  content: "\e92c";
}
.ficon-check:before {
  content: "\e92d";
}
.ficon-chevron-down:before {
  content: "\e92e";
}
.ficon-chevron-left:before {
  content: "\e92f";
}
.ficon-chevron-right:before {
  content: "\e930";
}
.ficon-chevron-up:before {
  content: "\e931";
}
.ficon-chevrons-down:before {
  content: "\e932";
}
.ficon-chevrons-left:before {
  content: "\e933";
}
.ficon-chevrons-right:before {
  content: "\e934";
}
.ficon-chevrons-up:before {
  content: "\e935";
}
.ficon-chrome:before {
  content: "\e936";
}
.ficon-circle:before {
  content: "\e937";
}
.ficon-clipboard:before {
  content: "\e938";
}
.ficon-clock:before {
  content: "\e939";
}
.ficon-cloud-drizzle:before {
  content: "\e93a";
}
.ficon-cloud-lightning:before {
  content: "\e93b";
}
.ficon-cloud-off:before {
  content: "\e93c";
}
.ficon-cloud-rain:before {
  content: "\e93d";
}
.ficon-cloud-snow:before {
  content: "\e93e";
}
.ficon-cloud:before {
  content: "\e93f";
}
.ficon-code:before {
  content: "\e940";
}
.ficon-codepen:before {
  content: "\e941";
}
.ficon-codesandbox:before {
  content: "\e942";
}
.ficon-coffee:before {
  content: "\e943";
}
.ficon-columns:before {
  content: "\e944";
}
.ficon-command:before {
  content: "\e945";
}
.ficon-compass:before {
  content: "\e946";
}
.ficon-copy:before {
  content: "\e947";
}
.ficon-corner-down-left:before {
  content: "\e948";
}
.ficon-corner-down-right:before {
  content: "\e949";
}
.ficon-corner-left-down:before {
  content: "\e94a";
}
.ficon-corner-left-up:before {
  content: "\e94b";
}
.ficon-corner-right-down:before {
  content: "\e94c";
}
.ficon-corner-right-up:before {
  content: "\e94d";
}
.ficon-corner-up-left:before {
  content: "\e94e";
}
.ficon-corner-up-right:before {
  content: "\e94f";
}
.ficon-cpu:before {
  content: "\e950";
}
.ficon-credit-card:before {
  content: "\e951";
}
.ficon-crop:before {
  content: "\e952";
}
.ficon-crosshair:before {
  content: "\e953";
}
.ficon-database:before {
  content: "\e954";
}
.ficon-delete:before {
  content: "\e955";
}
.ficon-disc:before {
  content: "\e956";
}
.ficon-dollar-sign:before {
  content: "\e957";
}
.ficon-download-cloud:before {
  content: "\e958";
}
.ficon-download:before {
  content: "\e959";
}
.ficon-droplet:before {
  content: "\e95a";
}
.ficon-edit-2:before {
  content: "\e95b";
}
.ficon-edit-3:before {
  content: "\e95c";
}
.ficon-edit:before {
  content: "\e95d";
}
.ficon-external-link:before {
  content: "\e95e";
}
.ficon-eye-off:before {
  content: "\e95f";
}
.ficon-eye:before {
  content: "\e960";
}
.ficon-facebook:before {
  content: "\e961";
}
.ficon-fast-forward:before {
  content: "\e962";
}
.ficon-feather:before {
  content: "\e963";
}
.ficon-figma:before {
  content: "\e964";
}
.ficon-file-minus:before {
  content: "\e965";
}
.ficon-file-plus:before {
  content: "\e966";
}
.ficon-file-text:before {
  content: "\e967";
}
.ficon-file:before {
  content: "\e968";
}
.ficon-film:before {
  content: "\e969";
}
.ficon-filter:before {
  content: "\e96a";
}
.ficon-flag:before {
  content: "\e96b";
}
.ficon-folder-minus:before {
  content: "\e96c";
}
.ficon-folder-plus:before {
  content: "\e96d";
}
.ficon-folder:before {
  content: "\e96e";
}
.ficon-framer:before {
  content: "\e96f";
}
.ficon-frown:before {
  content: "\e970";
}
.ficon-gift:before {
  content: "\e971";
}
.ficon-git-branch:before {
  content: "\e972";
}
.ficon-git-commit:before {
  content: "\e973";
}
.ficon-git-merge:before {
  content: "\e974";
}
.ficon-git-pull-request:before {
  content: "\e975";
}
.ficon-github:before {
  content: "\e976";
}
.ficon-gitlab:before {
  content: "\e977";
}
.ficon-globe:before {
  content: "\e978";
}
.ficon-grid:before {
  content: "\e979";
}
.ficon-hard-drive:before {
  content: "\e97a";
}
.ficon-hash:before {
  content: "\e97b";
}
.ficon-headphones:before {
  content: "\e97c";
}
.ficon-heart:before {
  content: "\e97d";
}
.ficon-help-circle:before {
  content: "\e97e";
}
.ficon-hexagon:before {
  content: "\e97f";
}
.ficon-home:before {
  content: "\e980";
}
.ficon-image:before {
  content: "\e981";
}
.ficon-inbox:before {
  content: "\e982";
}
.ficon-info:before {
  content: "\e983";
}
.ficon-instagram:before {
  content: "\e984";
}
.ficon-italic:before {
  content: "\e985";
}
.ficon-key:before {
  content: "\e986";
}
.ficon-layers:before {
  content: "\e987";
}
.ficon-layout:before {
  content: "\e988";
}
.ficon-life-buoy:before {
  content: "\e989";
}
.ficon-link-2:before {
  content: "\e98a";
}
.ficon-link:before {
  content: "\e98b";
}
.ficon-linkedin:before {
  content: "\e98c";
}
.ficon-list:before {
  content: "\e98d";
}
.ficon-loader:before {
  content: "\e98e";
}
.ficon-lock:before {
  content: "\e98f";
}
.ficon-log-in:before {
  content: "\e990";
}
.ficon-log-out:before {
  content: "\e991";
}
.ficon-mail:before {
  content: "\e992";
}
.ficon-map-pin:before {
  content: "\e993";
}
.ficon-map:before {
  content: "\e994";
}
.ficon-maximize-2:before {
  content: "\e995";
}
.ficon-maximize:before {
  content: "\e996";
}
.ficon-meh:before {
  content: "\e997";
}
.ficon-menu:before {
  content: "\e998";
}
.ficon-message-circle:before {
  content: "\e999";
}
.ficon-message-square:before {
  content: "\e99a";
}
.ficon-mic-off:before {
  content: "\e99b";
}
.ficon-mic:before {
  content: "\e99c";
}
.ficon-minimize-2:before {
  content: "\e99d";
}
.ficon-minimize:before {
  content: "\e99e";
}
.ficon-minus-circle:before {
  content: "\e99f";
}
.ficon-minus-square:before {
  content: "\e9a0";
}
.ficon-minus:before {
  content: "\e9a1";
}
.ficon-monitor:before {
  content: "\e9a2";
}
.ficon-moon:before {
  content: "\e9a3";
}
.ficon-more-horizontal:before {
  content: "\e9a4";
}
.ficon-more-vertical:before {
  content: "\e9a5";
}
.ficon-mouse-pointer:before {
  content: "\e9a6";
}
.ficon-move:before {
  content: "\e9a7";
}
.ficon-music:before {
  content: "\e9a8";
}
.ficon-navigation-2:before {
  content: "\e9a9";
}
.ficon-navigation:before {
  content: "\e9aa";
}
.ficon-octagon:before {
  content: "\e9ab";
}
.ficon-package:before {
  content: "\e9ac";
}
.ficon-paperclip:before {
  content: "\e9ad";
}
.ficon-pause-circle:before {
  content: "\e9ae";
}
.ficon-pause:before {
  content: "\e9af";
}
.ficon-pen-tool:before {
  content: "\e9b0";
}
.ficon-percent:before {
  content: "\e9b1";
}
.ficon-phone-call:before {
  content: "\e9b2";
}
.ficon-phone-forwarded:before {
  content: "\e9b3";
}
.ficon-phone-incoming:before {
  content: "\e9b4";
}
.ficon-phone-missed:before {
  content: "\e9b5";
}
.ficon-phone-off:before {
  content: "\e9b6";
}
.ficon-phone-outgoing:before {
  content: "\e9b7";
}
.ficon-phone:before {
  content: "\e9b8";
}
.ficon-pie-chart:before {
  content: "\e9b9";
}
.ficon-play-circle:before {
  content: "\e9ba";
}
.ficon-play:before {
  content: "\e9bb";
}
.ficon-plus-circle:before {
  content: "\e9bc";
}
.ficon-plus-square:before {
  content: "\e9bd";
}
.ficon-plus:before {
  content: "\e9be";
}
.ficon-pocket:before {
  content: "\e9bf";
}
.ficon-power:before {
  content: "\e9c0";
}
.ficon-printer:before {
  content: "\e9c1";
}
.ficon-radio:before {
  content: "\e9c2";
}
.ficon-refresh-ccw:before {
  content: "\e9c3";
}
.ficon-refresh-cw:before {
  content: "\e9c4";
}
.ficon-repeat:before {
  content: "\e9c5";
}
.ficon-rewind:before {
  content: "\e9c6";
}
.ficon-rotate-ccw:before {
  content: "\e9c7";
}
.ficon-rotate-cw:before {
  content: "\e9c8";
}
.ficon-rss:before {
  content: "\e9c9";
}
.ficon-save:before {
  content: "\e9ca";
}
.ficon-scissors:before {
  content: "\e9cb";
}
.ficon-search:before {
  content: "\e9cc";
}
.ficon-send:before {
  content: "\e9cd";
}
.ficon-server:before {
  content: "\e9ce";
}
.ficon-settings:before {
  content: "\e9cf";
}
.ficon-share-2:before {
  content: "\e9d0";
}
.ficon-share:before {
  content: "\e9d1";
}
.ficon-shield-off:before {
  content: "\e9d2";
}
.ficon-shield:before {
  content: "\e9d3";
}
.ficon-shopping-bag:before {
  content: "\e9d4";
}
.ficon-shopping-cart:before {
  content: "\e9d5";
}
.ficon-shuffle:before {
  content: "\e9d6";
}
.ficon-sidebar:before {
  content: "\e9d7";
}
.ficon-skip-back:before {
  content: "\e9d8";
}
.ficon-skip-forward:before {
  content: "\e9d9";
}
.ficon-slack:before {
  content: "\e9da";
}
.ficon-slash:before {
  content: "\e9db";
}
.ficon-sliders:before {
  content: "\e9dc";
}
.ficon-smartphone:before {
  content: "\e9dd";
}
.ficon-smile:before {
  content: "\e9de";
}
.ficon-speaker:before {
  content: "\e9df";
}
.ficon-square:before {
  content: "\e9e0";
}
.ficon-star:before {
  content: "\e9e1";
}
.ficon-stop-circle:before {
  content: "\e9e2";
}
.ficon-sun:before {
  content: "\e9e3";
}
.ficon-sunrise:before {
  content: "\e9e4";
}
.ficon-sunset:before {
  content: "\e9e5";
}
.ficon-tablet:before {
  content: "\e9e6";
}
.ficon-tag:before {
  content: "\e9e7";
}
.ficon-target:before {
  content: "\e9e8";
}
.ficon-terminal:before {
  content: "\e9e9";
}
.ficon-thermometer:before {
  content: "\e9ea";
}
.ficon-thumbs-down:before {
  content: "\e9eb";
}
.ficon-thumbs-up:before {
  content: "\e9ec";
}
.ficon-toggle-left:before {
  content: "\e9ed";
}
.ficon-toggle-right:before {
  content: "\e9ee";
}
.ficon-trash-2:before {
  content: "\e9ef";
}
.ficon-trash:before {
  content: "\e9f0";
}
.ficon-trello:before {
  content: "\e9f1";
}
.ficon-trending-down:before {
  content: "\e9f2";
}
.ficon-trending-up:before {
  content: "\e9f3";
}
.ficon-triangle:before {
  content: "\e9f4";
}
.ficon-truck:before {
  content: "\e9f5";
}
.ficon-tv:before {
  content: "\e9f6";
}
.ficon-twitter:before {
  content: "\e9f7";
}
.ficon-type:before {
  content: "\e9f8";
}
.ficon-umbrella:before {
  content: "\e9f9";
}
.ficon-underline:before {
  content: "\e9fa";
}
.ficon-unlock:before {
  content: "\e9fb";
}
.ficon-upload-cloud:before {
  content: "\e9fc";
}
.ficon-upload:before {
  content: "\e9fd";
}
.ficon-user-check:before {
  content: "\e9fe";
}
.ficon-user-minus:before {
  content: "\e9ff";
}
.ficon-user-plus:before {
  content: "\ea00";
}
.ficon-user-x:before {
  content: "\ea01";
}
.ficon-user:before {
  content: "\ea02";
}
.ficon-users:before {
  content: "\ea03";
}
.ficon-video-off:before {
  content: "\ea04";
}
.ficon-video:before {
  content: "\ea05";
}
.ficon-voicemail:before {
  content: "\ea06";
}
.ficon-volume-1:before {
  content: "\ea07";
}
.ficon-volume-2:before {
  content: "\ea08";
}
.ficon-volume-x:before {
  content: "\ea09";
}
.ficon-volume:before {
  content: "\ea0a";
}
.ficon-watch:before {
  content: "\ea0b";
}
.ficon-wifi-off:before {
  content: "\ea0c";
}
.ficon-wifi:before {
  content: "\ea0d";
}
.ficon-wind:before {
  content: "\ea0e";
}
.ficon-x-circle:before {
  content: "\ea0f";
}
.ficon-x-octagon:before {
  content: "\ea10";
}
.ficon-x-square:before {
  content: "\ea11";
}
.ficon-x:before {
  content: "\ea12";
}
.ficon-youtube:before {
  content: "\ea13";
}
.ficon-zap-off:before {
  content: "\ea14";
}
.ficon-zap:before {
  content: "\ea15";
}
.ficon-zoom-in:before {
  content: "\ea16";
}
.ficon-zoom-out:before {
  content: "\ea17";
}
