<div class="card-flow d-flex align-items-center justify-content-between" @fadeInUpMulti>
    <div class="card-flow-done">
        <span class="box-ficon rounded-circle d-flex align-items-center text-white justify-content-center {{ timeline.status }}" >
            <i class="ficon-check text-lg {{ timeline.icon }}"></i>
        </span>
    </div>
    <div class="card-flow-body row py-2 mx-0 d-flex align-items-center">
        <div class="col-sm-8 col-6 card-flow-title"><strong class="color-three text-sm">{{ timeline.title }}</strong></div>
        <div class="col-sm-2 col-3 card-flow-date"><strong class="color-three text-sm">23/10/2019</strong></div>
        <div class="col-sm-2 col-3 card-flow-hour"><strong class="color-three text-sm">08:59:17</strong></div>
    </div>
</div>
