@import "../../../../core/assets/scss/variables";
.metric-detail {
    .metric-detail-title {
        color: $color-two;
    }
    .metric-detail-subtitle {
        color: $color-one;
    }
    .border-detail {
        border-left: 1px solid $color-one;
    }
}
.metric-detail-card {
    border-radius: .7rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 
                0 2px 2px rgba(0, 0, 0, 0.12), 
                0 8px 8px rgba(0, 0, 0, 0.12), 
                0 0 4px rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;
    background-color: $white;
    padding: .75rem;
}

@media (max-width: 768px) {
    .metric-detail {
        padding: 1rem .7rem;
        background: rgb(255,64,40);
        background: linear-gradient(90deg, rgba(255,64,40,1) 0%, rgba(255,146,0,1) 50%);
        .metric-detail-icon {
            width: 32px;
            height: 32px;
        }
        .metric-detail-title,
        .metric-detail-subtitle {
            color: $white;
        }
        .border-detail {
            border-left: 1px solid $white;
        }
    }
}
