<qsi-seguimiento-breadcrumbs [title]="title" [icon]="icon" class="d-block d-md-none"></qsi-seguimiento-breadcrumbs>
<div class="mt-3 mt-md-4" @fadeInUp>
    <div class="d-flex justify-content-between align-items center">
        <h6 class="color-two my-0 d-flex align-items-center">
            <i class="ficon-box color-one mr-1"></i>
            PEDIDO | N° 21810368
        </h6>
        <span class="ml-auto d-flex align-items-center">
            <a  class="ficon-arrow-left-circle ficon-lg metric-detail-subtitle text-decoration-none pointer color-one d-none d-md-block"
                (click)="backPage()"></a>
        </span>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <qsi-card-totales>
            </qsi-card-totales>
            <qsi-card-order-detail 
                *ngFor="let item of listOrders"
                [order]="item">
            </qsi-card-order-detail>
        </div>
    </div>
</div>