<div class="totales my-3 my-lg-0" [ngClass]="{'totales-scroll': scrollActive}">
    <div class="totales-content">
        <div class="totales-header">Dcto. Total : 0 %</div>
        <div class="totales-body">
            <div class="font-weight-bold text-left text-sm-center mb-2 text-xs">RESUMEN DE COMPRA</div>
            <div class="row no-gutters">
                <div class="col-sm-3 text-center col-lg-12 d-flex justify-content-between flex-sm-column flex-lg-row">
                    <p class="text-muted mb-sm-0 mb-md-0">Venta Bruta:</p>
                    <p class="text-muted">S/ 0.00</p>
                </div>
                <div class="col-sm-3 text-center col-lg-12 d-flex justify-content-between flex-sm-column flex-lg-row">
                    <p class="text-muted mb-sm-0 mb-md-0">Dcto Total:</p>
                    <p class="text-muted">S/ 0.00</p>
                </div>
                <div class="col-sm-3 text-center col-lg-12 d-flex justify-content-between flex-sm-column flex-lg-row">
                    <p class="text-muted mb-sm-0 mb-md-0">Impuesto:</p>
                    <p class="text-muted">S/ 0.00</p>
                </div>
                <hr>
                <div class="col-sm-3 text-center col-lg-12 d-flex justify-content-between flex-sm-column flex-lg-row">
                    <p class="color-one font-weight-bold  mb-sm-0 mb-md-0">Total:</p>
                    <p class="color-one font-weight-bold">S/ 0.00</p>
                </div>
            </div>
        </div>
    </div>
</div>