<div class="order-detail-card mt-0 mt-lg-3" @fadeInUpMulti>
    <h6 class="m-0 carrito-titulo text-s font-weight-bold"
        title="640015|CIPROFLOXACINO 500MG TAB.REC. X 100 (QG)"> {{order.order}} | {{order.name}} </h6>
    <span class="d-block text-sm text-line color-three">Línea: 926 - Bayer Consumer Care </span>
    <span class="d-block text-sm text-line color-one">Masterpack: 0 | Stock: 2528</span>
    <div class="row">
        <div class="col-12 col-sm-7 col-md-7 col-lg-8">
            <div class="row no-gutters pt-2">
                <div class="col-7">
                    <ul class="list-group list-group-font pr-4">
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>Dcto NR:</b></small>
                            <small class="color-three">S/ 0.00 (0%)</small>
                        </li>
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>Dcto Q:</b></small>
                            <small class="color-three">S/ 0.00 (0%)</small>
                        </li>
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>Dcto R:</b></small>
                            <small class="color-three"> S/ 0.00 (0%)</small>
                        </li>
                        <li class="p-0 d-flex justify-content-between">
                            <small class="color-three"><b>Dcto T:</b></small>
                            <small class="color-three"><b>S/ 0.00 (0.00%)</b></small>
                        </li>
                    </ul>
                </div>
                <div class="col-5">
                    <ul class="list-group list-group-font pr-2">
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>V.Base:</b></small>
                            <small class="color-three">S/ 77.98</small>
                        </li>
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>Precio Neto:</b></small>
                            <small class="color-three">S/ 0.00</small>
                        </li>
                        <li class="p-0 text-muted d-flex justify-content-between">
                            <small class="color-three"><b>Impuesto:</b></small>
                            <small class="color-three">S/ 0.00</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-4 text-right">
            <small class="color-three d-block"> Precio U: S/ 92.02 </small>
            <h6 class="font-weight-bold color-one mb-3"> Precio F: S/ 16.57 </h6>

            <div class="row">
                <div class="col-6">
                    <div class="form-group m-0">
                        <small class="d-block color-three text-center text-xs">Posición</small>
                        <input class="form-control form-control-sm text-center" value="100" type="text"
                            disabled="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group m-0">
                        <small class="d-block color-three text-center text-xs">Cantidad</small>
                        <input class="form-control form-control-sm text-center" value="1" type="text"
                            disabled="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>