.qsi-seguimiento-breadcrumbs {
    padding: 1rem;
    background: #ff4028;
    background: linear-gradient(90deg, #ff4028 0%, #ff9200 50%);
    position: relative;

    .ficon {
        vertical-align: sub;
    }
}