.badge {
    color: white;
    font-size: .8rem !important;
    &.badge-01 {
        background-color: #FCAA0A;
    }
    &.badge-02 {
        background-color: #FF594C;
    }
    &.badge-03 {
        background-color: #FE9B1D;
    }
    &.badge-04 {
        background-color: #FF7171;
    }
    &.badge-05 {
        background-color: #27AE60;
    }
    &.badge-06 {
        background-color: #28C76F;
    }
    &.badge-07 {
        background-color: #FFC52F;
    }
    &.badge-08 {
        background-color: #17A8EC;
    }
    &.badge-09 {
        background-color: #0FA54E;
    }
    &.badge-10 {
        background-color: #F33F3F;
    }

    &.badge-1 {
        background-color: #27AE60;
    }
    &.badge-2 {
        background-color: #28C76F;
    }
}