.button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: $color-one;
    height: 28px;
    background: #FF9029;
    border-radius: 20px;
    border: 0px;
    color: #fff;
    font-size: .9rem;
    text-align: center;
    @include transition();
    &:focus {
        outline: inherit !important;
    }
    &:hover {
        background-color: $color-one-hover;
    }
}

.button-filter {
    border-radius: 50% !important;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    @include transition();
    
    .ficon-filter {
        color: $color-one;
        @include transition();
    }

    &:hover {
        background-color: $color-one;
        .ficon-filter {
            color: #fff !important;
        }
    }
}