.dropdown-menu {
	&.dropdown-shadow {
		box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
					0 3px 14px 2px rgba(0,0,0,0.12), 
					0 5px 5px -3px rgba(0,0,0,0.2);
	}
	a.dropdown-item {
		color: $color-three;
		&:hover {
			color: $color-three;
		}
		&:active {
			background-color: #f3f3f3;
		}
	}	
}

.dropdown {
	.dropdown-btn {
		width: 42px;
		height: 42px;
		padding: 0 !important;
		border-radius: 50%;
		&:focus {
			background: $gray-100 !important;
			box-shadow: none !important;
		}
	}
}