//Primarios
$color-primary: #FF9029;
$color-second:  #005792;

//Secundarios
$color-one:     #0B8AE5;
$color-two:     #FF4081;
$color-three:   #658EA9;
$color-four:    #27AE60;
$color-pastel:  #D9F0FF;
$color-pastel-danger:  #FFCFE0;

//Colores aplicativo
$color-one: #FF9200;
$color-two: #005792;
$color-three: #478BAB;
$color-one-hover: #DF8000;
$color-two-hover: #004C80;
$color-three-hover: #3E7A96;

//Grises
$transparent:transparent !default;
$white:    #ffffff !default;
$gray-0:   #F8F8F8 !default;
$gray-100: #EEEEEE !default;
$gray-200: #D6DBDF !default;
$gray-text: #7F7F7F;

//Black
$black-0: #353535;

//Textos
$color-3: #C0C0C0;
